/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}



audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}



fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}



textarea {
    resize: vertical;
}



.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



 .hidden {
  display: none !important;
}



.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}



.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}



.invisible {
  visibility: hidden;
}


.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}



   @media only screen and (min-width: 35em) {
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
}



   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }


    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }


    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.how-section1{
  margin-top:-15%;
  padding: 10%;
}
.how-section1 h4{
  color: #ffa500;
  font-weight: bold;
  font-size: 30px;
}
.how-section1 .subheading{
  color: #3931af;
  font-size: 20px;
}
.how-section1 .row
{
  margin-top: 10%;
}
.how-img
{
  text-align: center;
}
.how-img img{
  width: 40%;
}

body {
  padding-top: 20px;

}

.btn-default {
  top: 25%;
  left:25%;
  color: #999;
  background: #fffccc;
}

.hide-bullets {
  list-style:none;
  margin-left: -40px;
  margin-top:20px;
}


.badge {
  font-weight: 600;
  font-size: 13px;
  color: white;
  background-color: #289dcc;
}


.clrBoth {
  margin: 0;
  padding: 0;
}


body { padding-top: 50px; }



#textAlignR{
  text-align: right;
  float: right;
}

.card-deck {
  margin-top: 20px;
  margin-bottom: 40px;
}

.card-img-top {
  height: 200px;
}

#intro {
  padding-top: 20px;
}


#footer {
  padding-left: 5px;
  padding-right: 5px;
}

.inLine {
  display: inline;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

#writtenHistory {
  padding-top: 20px;
}

#image {
  padding-left: 274px;
}

.intro {
  padding-top: 20px;
  padding-bottom: 20px;
}

.infographic {
  align-content: center;
}


/* .container {
  background-color: #555555;
}
*/


.card {
  border-width: 2px;
  border-color: black;
}

#small {
  width: 300px;
}

.extraPadding {
  padding-top: 20px;
  padding-bottom: 40px;
}

.regPadding {
  padding-top: 10px;
}

img {
  border-width: thick;
  border-color: black;
}

